# --- 1. 基盤設定 ---
# シークレットキー(本番用は推測不可能な文字列にすること)
# 生成コマンド: python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY="xxxxxxxxxx"
# 開発時はTrue、本番はFalse
DEBUG=True
FRONTEND_URL=http://localhost:3000

# --- 2. セキュリティ設定 ---
# 許可するホスト(カンマ区切り、開発時はlocalhostや127.0.0.1)
ALLOWED_HOSTS=localhost,127.0.0.1

# HTTPS環境の場合のみTrueにする設定
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# 独自トークンの有効期限(秒)
TOKEN_EXPIRY_USER_ACTIVATION_SECONDS=86400
TOKEN_EXPIRY_PASSWORD_RESET_SECONDS=3600

# --- 5. データベース設定 ---
# SQLiteの場合は django.db.backends.sqlite3
DB_ENGINE="django.db.backends.sqlite3"
# SQLiteの場合はファイル名(例: db.sqlite3)
DB_NAME="db.sqlite3"
# トランザクション制御(通常はTrue)
ATOMIC_REQUESTS=True
# データベース接続の生存時間(秒)
CONN_MAX_AGE=60

# --- 7. 外部サービス設定 ---
# メール設定
# 開発時はconsole(標準出力)を利用
# EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
EMAIL_BACKEND="core.console_email_backends.ReadableSubjectEmailBackend"
EMAIL_FROM="noreply@example.com"
# Spotify/API
SPOTIFY_CLIENT_ID="xxxxxxxxxx"
SPOTIFY_CLIENT_SECRET="xxxxxxxxxx"
# SetListFM/API
SETLIST_FM_APIKEY="XXXXXXXXXX"

# --- 8. ログ設定 ---
# ログファイルの保持数（日単位）
ACCESS_LOG_BACKUP_COUNT=7
APPLICATION_LOG_BACKUP_COUNT=30

# --- 9. REST FRAMEWORK 定義 ---
JWT_ACCESS_DAYS=1
JWT_ACCESS_MINUTES=0
JWT_REFRESH_DAYS=1
# JWT_ACCESS_DAYS=0
# JWT_ACCESS_MINUTES=5
# JWT_REFRESH_DAYS=1
